#search-user-frame {
    img {
        opacity: 1;
    }

    h3 {
        width: 20rem;
    }

    height: 100%;

    input {
        width: 20rem;
        height: 2rem;
        margin-top: 1rem
    }
}

#user-home-search-button {
    background-color: #8ea240;
    margin-top: 1rem;
    border-color: rgba(142, 162, 64, 0.5);
}